# Add any directories, files, or patterns you don't want to be tracked by version control

tmp
.classpath
.gradle
.gitignore
.project
.settings
bin
build
out
target
WebContent
repository
server
/build
/classes


.idea
*.iml
.tmp
.DS_Store
*.ipr
*.iws
messagestore
jmeter.log
sms.jar
testResults.txt
/bin/
/build
/target/